@model IEnumerable<Nhom3.Core.Domains.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12 bg-primary">
        <h1 class="page-header" style="text-align:left;">Quản lý danh mục</h1>
    </div>
</div>

<button class="btn btn-sm btn-success" style="padding:10px; float:left;margin-top:10px; margin-bottom:10px;border-radius:20px;">
    <a href="@Url.Action("Create","Category")" style="text-decoration: none; color: white;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</a>
</button>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover" style="border-radius:20px;background-color:powderblue;">
            <thead >
                <tr>
                    <th>Mã DM</th>
                    <th>Tên danh mục</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {

                <tbody>
                    <tr>
                        <td >@item.MaDM</td>
                        <td>@item.TenDM</td>



                        <td>
                            <button class="btn btn-sm btn-info">
                                <a href="@Url.Action("Details","Category", new {id = item.MaDM })" style="text-decoration: none; color: white;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </button>
                            <button class="btn btn-sm btn-warning">
                                <a href="@Url.Action("Edit","Category", new {id = item.MaDM })" style="text-decoration: none; color: white;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </button>

                            <button class="btn  btn-sm btn-danger">
                                <a href="@Url.Action("Delete","Category", new {id = item.MaDM })" style="text-decoration: none; color: white;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </button>
                        </td>
                    </tr>

                </tbody>
            }
        </table>

    </div>
</div>
