@model IEnumerable<Nhom3.Core.Domains.HoaDon>

@using System.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row bg-primary">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align:left;">Thông tin đơn hàng</h1>
    </div>
</div>

<div class="col-lg-12" style="margin-top:20px;">
    <table  class="table table-hover" style="border-radius:20px;background-color:powderblue;">

        <thead>
            <tr>
                <th>Mã DH</th>
                <th>Tài khoản</th>
                <th>Ngày đặt</th>

                <th>Tình trạng</th>
                <th>Phí ship</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.MaHoaDon</td>
                    <td>@item.GioHang.TenTaiKhoan</td>
                    <td>@item.NgayDat</td>
                    <td>@item.TinhTrang</td>
                    <td>@item.PhiShip.ToString("C0",CultureInfo.CurrentCulture).Substring(1) VND</td>

                    <td>
                        <button class="btn  btn-sm btn-warning">
                            <a href="@Url.Action("Details", "Order", new {id = item.MaHoaDon})" style="text-decoration: none; color: white;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </button>
                        <button class="btn  btn-sm btn-info">
                            <a href="@Url.Action("Edit", "Order", new { id = item.MaHoaDon }) " style="text-decoration: none; color: white;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                        </button>
                       

                    </td>
                </tr>

            </tbody>
        }

    </table>

</div>

